h1 {
    text-align: center;
    color: white;
}
h2 {
    color: white;
}
h4 {
    color: white;
}
body {
    background-image: url(backgroundimage.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.hero-title {
font-size: 5rem;
}
