h1 {
    text-align: center;
    color: white;
}
h2 {
    color: white;
    border-style: outset;
    border-width: 3px;
    border-radius: 13px;
    padding: 3px;
    box-shadow: inset 4px 4px 8px rgba(255,255,255,0.5),
                inset -4px -4px 8px rgba(0,0,0,0.4);
}
h3 {
    color: white;
    border-style: outset;
    border-width: 2px;
    border-radius: 13px;
    padding: 3px;
    box-shadow: inset 4px 4px 8px rgba(255,255,255,0.5),
                inset -4px -4px 8px rgba(0,0,0,0.4);
    
}
body {
    background-image: url(backgroundimage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif;
}
.hero-title {
font-size: 5rem;
}
a {
    color: white;
    font-family: sans-serif
}